.ic-heart-empty:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f004";
}

.ic-bookmark-empty:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f02e";
}

.ic-comment:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f27a";
}

.ic-share:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f1e0";
}

.ic-image:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f03e";
  font-size: 30px;
}

.ic-times-circle-light:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f057";
}

.ic-search:before {
  font-family: "FontAwesome5Pro";
  content: "\f002";
  font-size: 22px;
  color: $color-text-secondary;
}

.ic-link:before {
  font-family: "FontAwesome5Pro";
  content: "\f0c1";
}

.ic-chevron-left:before {
  font-family: "FontAwesome5Pro";
  content: "\f053";
}

.ic-chevron-right:before {
  font-family: "FontAwesome5Pro";
  content: "\f054";
}

.ic-chevron-down:before {
  font-family: "FontAwesome5Pro";
  content: "\f078";
}

.ic-ellipsis-h:before {
  font-family: "FontAwesome5Pro";
  content: "\f141";
}

.ic-list:before {
  font-family: "FontAwesome5Pro";
  content: "\f03a";
  font-size: 24px;
}

.ic-plus:before {
  font-family: "FontAwesome5Pro";
  content: "\f067";
}

.ic-arrow-circle-right:before {
  font-family: "FontAwesome5Pro";
  content: "\f0a9";
}

.ic-user:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f007";
}

.ic-shopping-cart:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f07a";
}

.ic-info-circle:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f05a";
}

.ic-heart:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f004";
}

.ic-address:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f3c5";
  font-size: 16px;
}

.ic-star:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f005";
}

.ic-bookmark:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f02e";
}

.ic-book:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f02d";
}

.ic-tag:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f02b";
}

.ic-cloud-download:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f381";
  color: $color-primary-main;
  font-size: 16px;
}

.ic-bullseye:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f140";
  font-size: 20px;
}

.ic-calendar-alt:before {
  font-family: "FontAwesome5Pro";
  content: "\f073";
  font-size: 20px;
}

.ic-trophy:before {
  font-family: "FontAwesome5Pro";
  content: "\f091";
}

.ic-person:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f007";
}

.ic-date:before {
  font-family: "FontAwesome5Pro-Light";
  content: "\f133";
}

.ic-chat:before {
  font-family: "FontAwesome5Pro";
  content: "\f27a";
  font-size: 14px;
}

.ic-check:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f058";
  font-size: 20px;
}
.ic-progress:before {
  font-family: "FontAwesome5Pro";
  content: "\f3f4";
  font-size: 20px;
}

.ic-book:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f02d";
}

.ic-certificate:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f0a3";
  font-size: 32px;
}

.ic-times-circle:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f057";
}

.ic-cog:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f013";
}

.ic-camera:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f030";
}

.ic-comment-alt-dots:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f4a3";
  color: #ebf4f9;
  font-size: 100px;
}

.ic-trophy-alt:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f2eb";
  font-size: 12px;
}

.ic-bullseye-arrow:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f648";
  font-size: 12px;
}

.ic-calendar-alt-solid:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f073";
  font-size: 14px;
}

.ic-user-alt-solid:before {
  font-family: "FontAwesome5Pro-Solid";
  content: "\f007";
  font-size: 14px;
}
