$color-primary-dark: #4c90b5;
$color-primary-main: #5aa4cc;
$color-primary-light: #aadaf3;
$color-blue-light: #e9f8ff;
$color-white: #ffffff;
$color-text-secondary: #7b93a5;

$color-primary-200: #e4f2fa;
$color-grey-600: #5a748c;
